/**
 * General Layout
 */

@media screen and (min-width: 768px) {
	.site-header {
		.site-branding,
		.site-logo-anchor,
                .site-logo-link{
			display: block;
			@include span(3 of 12);
			clear: both;

			img {
				height: auto;
				max-width: 100%;
				max-height: none;
			}
		}
                .site-logo-link {
                  width:100%;
                  float: none;
                }
	}

	.woocommerce-active {
		.site-header {
			
			.site-search {
				@include span(last 3 of 12);
				clear: none;
			}

			.main-navigation {
				@include span(full);
				clear: both;
			}

			.site-header-cart {
				@include span(8 of 12);
				margin-bottom: 0;
				padding-top:0;
			}
                        .secondary-navigation {
				@include span(last 4 of 12);
			}
		}
	}

	.site-branding{
		.site-description {
			margin-bottom: 0;
			display: block;
		}
	}

	.site-branding,
	.site-search,
	.site-header-cart,
	.site-logo-anchor,
	.site-logo-link {
		margin-bottom: 0;
	}

	.site-header {
		.subscribe-and-connect-connect {
			float: right;
			margin-bottom: 1em;

			.icons {
				list-style: none;
				margin: 0;

				a {
					font-size: 1em !important;
				}

				li {
					margin: 0 0 0 .53em !important;
					display: inline-block;
				}
			}
		}
	}
        
        .site-header-cart {
            a.cart-contents{
              font-size:18px;
              font-weight: bold;
              color:black;
              padding:$vspacing !important;
              .amount, .count {
                  font-weight:bold !important;
              }
              &:after{
                  padding-top:$vspacing;
              }
            }
            &:hover, &:focus{
                a.cart-contents, {
                    background:$color_secondary;
                    color:white;
                }
                .widget_shopping_cart{
                    font-size: $base-font-size;
                }
            }
        }

	.col-full {
/*		@include clearfix;*/
		@include container(65.141em);
	}

	.site-content {
		@include clearfix;
	}

	.content-area {
		@include span(9 of 12);
                .woocommerce-active &{
                    float: none !important;
                    width:100% !important;
                    
                }
	}

	.widget-area {
		@include span(last 3 of 12);
	}

	.right-sidebar {
		.content-area {
			@include span(9 of 12);
		}

		.widget-area {
			@include span(last 3 of 12);
		}
	}

	.left-sidebar {
		.content-area {
			@include span(last 9 of 12);
		}

		.widget-area {
			@include span(3 of 12);
		}
	}

	.storefront-full-width-content {
		.content-area {
			@include span(full);
		}
	}

	.content-area,
	.widget-area {
		margin-bottom: 2.618em;

                .page-template-template-homepage-php &{
                    margin-top: 0em;
                }
	}

	/**
	 * Full width & homepage template
	 */
	.page-template-template-fullwidth-php,
	.page-template-template-homepage-php {
		.content-area {
			@include span(full);  
		}
	}

	/**
	 * Footer widgets
	 */
	.footer-widgets {
		@include clearfix;
		padding-top: 4.236em;
		border-bottom: 3px solid rgba(0,0,0,0.05);

		&.col-2 {
			.block {
				@include span(6 of 12);

				&.footer-widget-2 {
					@include last;
				}
			}
		}

		&.col-3 {
			.block {
				@include span(4 of 12);

				&.footer-widget-3 {
					@include last;
				}
			}
		}

		&.col-4 {
			.block {
				@include span(3 of 12);

				&.footer-widget-4 {
					@include last;
				}
			}
		}
                

	}
}
.footer-widgets[class*="col-"] {
    .block{
        float:left;
        width:21%;
        margin-right:2%;
        aside {
            margin-bottom: 1em;
        }
        &:first-child{
            width:300px; 
        }
        &:last-child{
            margin-right: 0;
            aside {
                margin-bottom: 0;
            }
        }
    }
    .social-media{
        @extend %clearfix;
        li {
            float: left;
            display: inline-block;
            font-size:2em;
            margin-right:1em;
            span {
                display:none;
                padding:0 .25em;
                font-weight: normal;
                color:$color_body;
                
            }
        }
    }
    .widget_nav_menu{
        li {
            padding:.2em 0;
            border-bottom:1px dotted $color-light-grey;
            a {
                font-weight: normal;
            }
        }
        li:before{
            display:none;
        }
    }
    .footer-kontakt{
        > div {
            position:relative;
            margin-left:2em;
        }
        > div:before {
            color:$color_primary;
            position: absolute;
            top:0;
            left:-2em;
            opacity: 1 !important;
        }
        .mail {
            @include icon-style("\f0e0");
        }
        .address{
            @include icon-style("\f279");
        }
        .phone {
            @include icon-style("\f095");
        }
    }
}
.footer-bottom{
    padding:1em 0;
    background: $color-dark-grey;
    *{
        color:lighten($color-light-grey,50%) !important;
        line-height:1;
        font-style:italic;
    }
    ul{
        li{
            padding:0 .5em;
            border-right:1px solid currentColor;
            a {
                font-weight: normal;
            }
        }
        li:last-child{border:0;}
    }
    .site-info{
        text-align: right;
    }
}
@media screen and (max-width: 65.141em) {
	.col-full {
		margin-left: 2.618em;
		margin-right: 2.618em;
	}
}

@media screen and (max-width: 568px) {
	.col-full {
		margin-left: 1.387em;
		margin-right: 1.387em;
	}
}
/*** Home ***/
#story {
    @include linear-gradient(0deg, #ededee 0%, #fff 50%, #fff 100%);
/*    @extend %reset;*/
width:100%;
    
    .wp-caption{
        position: relative;
        &:before{
           @include bogen(url('../img/bogen.svg'));
        }
    }
}

/*** Stories ***/
.single-erfolgsstories{
    .post_content{
       padding:2em 0;
    }
    section.infos{
        margin:2em auto;
        > div:first-child {
            @include span(7 of 12);
        }
        > div:last-child {
            @include span(last 5 of 12);
        }
    }
}