@import 'sass/bourbon/bourbon';

// Susy
// Susy grid system. See: http://susydocs.oddbird.net/en/latest/
@import "bower_components/susy/sass/susy";
// Utilities
// Sass tools and helpers used across the project.
@import 'sass/utils/variables';
@import 'sass/utils/mixins';
// Base
// Holds what we might call the boilerplate code for the project.
@import 'sass/base/base';
@import 'sass/base/typography';

// Layout
// Contains everything that takes part in laying out the theme
@import 'sass/layout/layout';
// Components
// For smaller, less global components that do not belong in /layout
@import 'sass/components/forms';
@import 'sass/components/menu';
@import 'sass/components/content';
@import 'sass/components/post-formats';
@import 'sass/components/media';
@import 'sass/components/pagination';
@import 'sass/components/comments';
@import 'sass/components/widgets';
@import 'sass/components/infinite-scroll';
@import 'sass/components/404';


/*** Custom Styles ***/
#menu-meta{
    li{
        a{
            padding:0 .2em !important;
            line-height:1 !important;
            
            span{
                text-indent:-100px;
                overflow: hidden;
                display: block;
            }
            &.after {
                display: inline;
            }
            border-right: 1px solid currentColor;
        }
    }
    .login {
        a:after{
            @include icon-style ("\f090", 0, 1, 0, 1em);
        }
    }
    .contact {
        a:after{
            @include icon-style ("\f0e0", 0, 1, 0, 1em);
        }

    }
}