/**
 * Media
 */

.page-content,
.entry-content,
.comment-content {
	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		display: inline-block;
	}
}

/**
 * Captions
 */
.wp-caption {
	margin-bottom: $vspacing;
	max-width: 100%;
        padding:1em;
        @include border-style(1px,solid,#eee);
        background:white;
        @include img-shadow;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
                @include img-shadow-inset;
	}
	.wp-caption-text {
		text-align: left;
		font-family: 'verveine', sans-serif;
                color:$color_primary;
		border-bottom: 0;
		padding: 1em 0;
                text-align: center;
                line-height: 1;
                font-size: 2em;
	}
        &.alignleft{
            margin-right: $vspacing;
        }
        &.alignright{
            margin-left: $vspacing;
        }
}

/**
 * Galleries
 */
.gallery {

	@extend %clearfix;

	margin-bottom: $vspacing;

	.gallery-item {
		float: left;

		.gallery-icon {
			a { display: block; }

			img {
				border: none;
				height: auto;
				margin-bottom: 0;
			}
		}

		.gallery-caption {
			margin: 0;
			text-align: center;
		}

	}

}

/**
 * Embeds
 */
embed,
iframe,
object,
video {
	max-width: 100%;
}