/**
 * Media
 */

.page-content,
.entry-content,
.comment-content {
	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		display: inline-block;
	}
}

/**
 * Captions, Image style
 */
.programme .thumbnail{
    margin:0 1em;
}
.wp-caption, .programme .thumbnail{
    margin-bottom: $vspacing;
    max-width: 100%;
    padding:1em;
    @include border-style(1px,solid,#eee);
    background:white;
    @include img-shadow;

    img {
        display: block;
        margin: 0 auto;
        @include img-shadow-inset;
    }
    .wp-caption-text{
        text-align: left;
        font-family: $handwritten-font;
        color:$color_primary !important;
        border-bottom: 0;
        padding: 1em 0;
        text-align: center !important;
    }
    .wp-caption-text{
        line-height: 1;
        font-size: 1.6em;
        
        .thumbnail &{
         font-size: 1.3em;   
        }
    }
    &.alignleft{
        margin-right: $vspacing;
        @include transform(rotate(-8deg));
        &:before {
            @include transform(scale(-1,1) rotate(24deg));
            top:50%;
            right:-250px;   
        }
    }
    &.alignright{
        margin-left: $vspacing;
        @include transform(rotate(5deg));
        &:before {
            @include transform(rotate(2deg));
            top:90%;
            left:-260px;
        }
    }
}

/**
 * Galleries
 */
.gallery {

	@extend %clearfix;

	margin-bottom: $vspacing;

	.gallery-item {
		float: left;

		.gallery-icon {
			a { display: block; }

			img {
				border: none;
				height: auto;
				margin-bottom: 0;
			}
		}

		.gallery-caption {
			margin: 0;
			text-align: center;
		}

	}

}

/**
 * Embeds
 */
embed,
iframe,
object,
video {
	max-width: 100%;
}